#templatePageRoot .download-list {
    margin-top:10px; 
    padding:0 20px;
}

#templatePageRoot .download-item {
    margin-top:5px; 
}

#templatePageRoot {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

#templatePageRoot img {
    max-width: 100%;
}

.custom-pages-template-structure {
    margin: 0;
    padding: 0;
    list-style: none;
}
.custom-pages-template-structure ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
}
.custom-pages-template-structure li {
    border-left: 1px solid transparent;
    padding: 3px 5px;
}
.custom-pages-template-structure > li {
    padding-left: 0;
}
.custom-pages-template-structure li[data-element-id]:hover,
.custom-pages-template-structure ul[data-template-type=container] > li:hover {
    border-left: 1px dashed var(--text-color-secondary);
}
