#templatePageRoot .download-list {
    margin-top:10px; 
    padding:0 20px;
}

#templatePageRoot .download-item {
    margin-top:5px; 
}

#templatePageRoot {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

#templatePageRoot img {
    max-width: 100%;
}

/* Editor */
div[data-editor-container-id] .cp-editor-container-empty:hover,
div[data-editor-container-id].cp-editor-container-active > .cp-editor-container-empty,
div[data-editor-container-item-id]:hover,
div[data-editor-container-item-id].cp-editor-container-active {
    border: 1px dashed #216EFF !important;
}
div[data-editor-container-id] .cp-editor-container-empty {
    background-color:silver;
    border:1px solid orange;
    min-height:150px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div[data-editor-container-id] .cp-editor-container-empty.text {
    background-color:silver;
    border:1px solid orange;
    min-height:50px;
}

/* Structure */
.cp-structure {
    display: none;
    position: fixed;
    margin: 0;
    padding: 8px;
    list-style: none;
    font-size: 11px;
    z-index: 1000;
}
.cp-structure ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.cp-structure li {
    padding: 0;
}
.cp-structure .cp-structure-container + [data-template-type] > li > .cp-structure-template [data-action-click^=moveUp],
.cp-structure [data-container-id] [data-template-type]:last-child > li > .cp-structure-template [data-action-click^=moveDown] {
    display: none;
}
.cp-structure-row {
    display: flex;
    align-items: center;
    padding: 8px;
}
.cp-structure-row > div {
    flex: 1;
}
.cp-structure-row > .fa,
.cp-structure-actions > .fa {
    width: 18px;
    text-align: center;
}
.cp-structure-row .cp-structure-actions {
    flex: 0;
    white-space: nowrap;
    visibility: hidden;
}
.cp-structure-row:hover .cp-structure-actions {
    visibility: visible;
}
.cp-structure-row .cp-structure-actions .dropdown-menu {
    padding: 0;
}
.cp-structure-header {
    cursor: move;
}
.cp-structure-header .cp-structure-text,
.cp-structure-container .cp-structure-text {
    font-weight: 600;
}
.cp-structure-template .cp-structure-text,
.cp-structure-container .cp-structure-text {
    padding: 0 8px;
}
.cp-structure-row .cp-structure-action {
    font-size: 14px;
    visibility: hidden;
    cursor: pointer;
}
.cp-structure-row:hover .cp-structure-action {
    visibility: visible;
}
.cp-structure-row .fa-circle, .cp-structure-row .fa-circle-o {
    font-size: 70%;
}
.cp-structure-template .fa-circle {
    color: #FF9F0A;
}
.cp-structure-container .fa-circle-o {
    color: #B31317;
}
.cp-structure-template:hover,
.cp-structure-container:hover,
.cp-structure-active {
    border-radius: 4px;
    background: #F9F9F9;
    transition: background 0.3s;
}
