/**
    Custom Pages
*/

.custom-pages-page a, .panel .panel-body p a {
    color: #21A1B3;
}

.custom-pages-page a:hover, .panel .panel-body p a:hover {
    color: #21A1B3;
    text-decoration: underline;
}


